html {
  margin: 5% 0;
}

body {
font-family: 'Open Sans', sans-serif;
}

h1, h4 {
  font-weight: bolder;
}

img {
  max-width: 100%;
  height: auto;
}

.box-model {
  width: 100%;
  background-color: WhiteSmoke;
  border-radius: .25rem;
  padding: 30px;
  margin: 2.5rem 0;
}

.Courier-New {
  font-family: 'Courier New', Courier, monospace;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
